body {
    font-family: sans-serif;
    margin: 0;
    background-color: aqua;

}

header {
    display: flex;
    flex-direction: column;
    height: 100px;
    background-color: coral;
    align-items: center;
    padding: 10px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-right: 10px;
    margin-left: 10px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    padding-right: 10px;
}

.nav1 a:hover {
    color: white;
}

main {
    background-color: white;
    float: right;
    height: 100%;
    width: 100%;
    border-radius: 50px;

}

footer {
    background-color: green;
    float: left;
    height: 100%w;
    width: 100%;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    text-align: center;

}

input {
    background-color: #fbfbfb;
    width: 408px;
    height: 40px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #ab4493;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
}


textarea {
    background-color: #fbfbfb;
    width: 405px;
    height: 150px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #ab4493;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    padding-top: 15px;
}


label {
    display: block;
    float: center;
}


button {
    height: 45px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
    text-transform: uppercase;
    background-color: #ab4493;
    border-color: #ab4493;
    border-style: solid;
    border-radius: 10px;
    width: 420px;
    cursor: pointer;
}


button p {
    color: #fff;
    text-align: left;
}


span {
    color: #ab4493;
}


.aviso {
    font-size: 13px;
    color: #0e0e0e;
}


h1 {
    font-size: 39px;
    padding-bottom: 20px;
    color: #ab4493;
}


h3 {
    font-size: 16px;
    padding-bottom: 30px;
    color: #0e0e0e;
}


p {
    font-size: 14px;
    color: #0e0e0e;
}


::-webkit-input-placeholder {
    color: #a8a8a8;
}


::-webkit-textarea-placeholder {
    color: #a8a8a8;
}


.formulario input:focus {
    outline: 0;
    border: 1px solid #97d848;
}


.formulario textarea:focus {
    outline: 0;
    border: 1px solid #97d848;
}

form{
    text-align: center;
    background-color: orange;
    padding-bottom: 20px;
    border-radius: 50px;
    margin-left: 20%;
    margin-right: 20%;
     margin-top: 10px;
     margin-bottom: 10px;

}
fieldset{
    border-radius: 50px;
    border-style: solid;
    border-width: 1px;
    margin-top: 10px;
    margin-left: 20%;
    margin-right: 20%;
    background-color:white;
}