body {
    font-family: sans-serif;
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    height: 100px;
    background-color: coral;
    align-items: center;
    padding: 10px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-right: 10px;
    margin-left: 10px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    padding-right: 10px;
}

.nav1 a:hover {
    color: white;
}

body {
    background-color: aqua;
}

main {
    background-color: white;
    float: right;
    height: 100%;
    width: 100%;
}

.section {
    background-color: blue;
}

footer {
    background-color:green;
    float: left;
    height: 100%w;
    width: 100%;
}
